<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href='/static/style.css' />
    <meta charset="UTF-8">
    <title>Tojvoroid App</title>
</head>
<body>
<div id="center-div-parent">
    <div id="center-div">
        <p>Start time: {{start_time}}</p>
        <p>Internet Connection: <b>{{internet_status}}</b></p>
        <p>Current time: {{current_time}}</p>
        <p>Latest disconnect: {{last_dc}}</p>
        <p>Total disconnects: <b>{{total_dc}}</b></p>
        <p id="last-item"><a href="connection-history">Connection History</a></p>
    </div>
</div>
</body>
</html>